@import url(//fonts.googleapis.com/css?family=Roboto:900,300);

/* GLOBAL STYLES
-------------------------------------------------- */

body {
	padding-bottom: 40px;
	color: #3e3f3a;
	overflow-x: hidden;
}

p,li,ol {
	font-family: 'Roboto', sans-serif;
}


/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-header img {
	float: left;
	padding-right: 10px;
}

.navbar-header span {
	font-size: 0.6em;
	color: #6bd0ff;
	font-weight: lighter;
	margin-left: 5px;
	text-transform: uppercase;
}

.navbar-wrapper a:active,
.navbar-wrapper a:link,
.navbar-wrapper a:visited,
.navbar-wrapper a:hover {
	color: #fff;
}

.navbar-brand {
	font-size: 2.4em;
	font-weight: 200;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	margin-top: 5px;
}

ul.nav a:hover {
	background: #549EFF;
}

/* Page */

.page div.left-wrapper {
	padding-right: 35px;
}

.page div.right-wrapper {
	margin-top: 125px;
	padding: 0;
}

.page-header {
	height: 300px;
	background: url(../img/hero.jpg) #3e3f3a;
	text-align: center;
	overflow: hidden;
	position: relative;
	margin: 0;
	margin-bottom: 30px;
	padding: 180px 0 0 0;
	border: none;
}
.page h2 {
	font-size: 1.7em;
}
.page h3 {
	font-size: 1.5em;
}

.page h2,
.page h3 {
	margin-bottom: 15px;
	margin-top: 30px;
}

.page p {
	font-size: 1.3em;
}

.page span.meta {
	color: #777;
	margin-left: 3px;
	font-size: 1.1em;
}

.page span.meta li {
	list-style: none;
	margin-right: 25px;
	display: inline;
}

.page span.meta img {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	margin-top: -3px;
}

.page span.meta li.tags {
	font-family: monospace;
}

.page div.content {
	margin-top: 30px;
}

.page div.content p {
	font-size: 1.3em;
}

.page div.content img {
	margin: 0 auto;
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}

.page div.content img.emoji {
	width: 20px;
	height:20px;
	display: inline;
}

.page div.content li {
	font-size: 1.3em;
}

.index a:active,
.index a:hover,
.index a:visited,
.index a:link {
	text-decoration: none;
	color: #2b2b2b;
}

.index a:hover {
	color: #1b1b1b;
}

.index h2 {
	margin-bottom: 30px;
}

/* Post sidebar */

.page div.sidebar {
	margin-bottom: 20px;
	border: solid 1px #e1e1e1;
	font-size: 0.9em;
	background: #f9f9f9;
	padding: 18px;
}

.page div.sidebar h2 {
	margin-top: 10px;
	font-weight: bolder;
	font-size: 1.5em;
	margin-bottom: 20px;
	text-align: center;
}

.page div.sidebar h2 img {
	width: 20px;
	height: 20px;
}

.page div.sidebar li {
	margin-bottom: 15px;
	font-size: 1.1em;
	margin-left: 0;
	list-style: none;
}

.page div.sidebar li::before {
	content: "\2022";
	margin-right: 5px;
}

.page div.sidebar img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.page div.sidebar a:active,
.page div.sidebar a:hover,
.page div.sidebar a:visited,
.page div.sidebar a:link {
	text-decoration: none;
	color: #2b2b2b;
}

.page div.sidebar a:hover {
	color: #000;
	text-decoration: underline;
}

.page div.sidebar.ad {
	padding: 10px;
	text-align: center;
	line-height: 1.5em;
}

.page div.sidebar.ad img {
	width: auto;
	height: auto;
	clear: both;
}

.page div.sidebar.ad .btn {
	color: #fff;
}

/* Timeline */

.card-body {
	padding-top: 10px;
}

.card-text {
	font-size: 1.65em !important;
	line-height: 1.1em;
	font-weight: 500;
	color: #000;
}

.card-note {
	font-size: 1.1em !important;
	color: #717171;
	margin-top: -5px;
}

.timeline-header {
	margin-top: 30px;
	text-align: center;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 5px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 5px 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #00c4f3;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #00c4f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #00c4f3;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  font-weight: 1.5em;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  pointer-events: none;
}

.direction-l .flag {
}

.direction-r .flag {
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.desc p.title {
	font-size: 1.5em;
	line-height: 1.1em;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 0.1em 0 0.1em;
  padding: 1em;
  z-index: 15;
}

/* Clouds */

.clouds {
	margin-top: 20px;
	height: 130px;
    background: url(../img/cloud.png) repeat-x;
	z-index: 11;
}

footer {
	text-align: left;
	margin-top: 80px;
}

footer h5 {
	font-weight: bold;
	font-size: 1.1em;
}

footer small {
	color: #9d9d9d;
}

footer small a:link,
footer small a:active,
footer small a:hover,
footer small a:visited {
	color: #9d9d9d;
}

footer a:link,
footer a:active,
footer a:hover,
footer a:visited {
	color: #202020;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.5em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}
